body{
    
    border:  1px solid black;
    width:
}
p{
    color: rgb(245, 244, 247);
    margin: 0px;
}
h1{
    background-color: aliceblue;
}
#a{
    background-color: #848ee8;
}
#s{
    background-color: #7b85e3;
}
#d{
    background-color: #7b85e3;
}
#f{
    background-color:#6772db;
}
#g{
    background-color:#5965d4 ;
}
#h{
    background-color: #4350c7;
}
#j{
    background-color: #323daf;
}
#k{
    background-color: rgb(14, 147, 14);
}
#l{
    background-color: #f75e82;
}
#z{
    background-color: #de5071;
}

#x{
    background-color: #d8345a;
}
#c{
    background-color: #c42b4f;
}
#v{
    background-color: #bf2247;
}
#b{
    background-color: #bd0f38;
}